page{
    height: 100%;
    background-color: #f2f2f2;
}

.container{
    position: relative;
    height: 100%;
}

.content{
    padding: 20px 15px;
    height: 20000px;
}
.content_1{
    background-color: #ffffff;
}
